@import "variables.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
input,
button {
    font-family: var(--font-sans), serif;
    font-size: var(--normal-font-size);
}

body {
    background-color: hsl(230, 100%, 98%);
    color: hsl(230, 12%, 40%);
}

input,
button {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(230, 75%, 15%, .1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    z-index: 1000;
}

.login__close {
    position: absolute;
    top: 2rem;
    left: 50%;
    font-size: 2rem;
    color: var(--title-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__form,
.login__group {
    display: grid;
}

.login__form {
    background-color: var(--color-card);
    padding: var(--spacing-xl) var(--spacing-lg) calc(var(--spacing-xl) + .5rem);
    box-shadow: 0 8px 32px var(--color-glass);
    border-radius: var(--radius);
    row-gap: var(--spacing-md);
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
    max-width: 35rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.login__title {
    font-size: var(--h2-font-size);
    color: var(--color-card-foreground);
}

.login__group {
    row-gap: var(--spacing-sm);
}

.login__label {
    display: block;
    text-align: initial;
    color: var(--color-card-foreground);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.login__input {
    width: 100%;
    background-color: var(--color-muted);
    border: 2px solid var(--color-border);
    padding: var(--spacing-md);
    border-radius: .5rem;
    color: var(--color-foreground);
}

.login__input::placeholder {
    color: var(--color-muted-foreground);
}

.login__signup {
    margin-bottom: .5rem;
}

.login__signup a {
    color: var(--color-primary);
}

.login__button {
    display: inline-block;
    background-color: var(--color-primary);
    width: 100%;
    color: var(--color-primary-foreground);
    font-weight: var(--font-semi-bold);
    padding: var(--spacing-md);
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .4s;
}

.login__button:hover {
    box-shadow: 0 4px 24px var(--color-accent);
}

.show-login {
    opacity: 1;
    pointer-events: initial;
}

.show-login .login__form {
    transform: translateY(0);
}
