<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cargar Hecho</title>
    <link rel="stylesheet" href="/styles/crear-hecho.css">
</head>
<body>
<div class="hecho-container">
    <h2>Cargar Nuevo Hecho</h2>

    <form action="/hechos" method="post">

        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" placeholder="Título del hecho" required>

        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" placeholder="Describe lo que sucedió..."></textarea>

        <label for="categoria">Categoría</label>
        <input type="text" id="categoria" name="categoria" placeholder="Ej: Incendio, Robo, Etc..." required>

        <div class="form-row">
            <div>
                <label for="latitud">Latitud</label>
                <input type="number" step="any" id="latitud" name="latitud" placeholder="Ej: -34.603851" required>
            </div>
            <div>
                <label for="longitud">Longitud</label>
                <input type="number" step="any" id="longitud" name="longitud" placeholder="Ej: -58.381775" required>
            </div>
        </div>

        <label for="fechaAcontecimiento">Fecha y Hora del Hecho</label>
        <input type="datetime-local" id="fechaAcontecimiento" name="fechaAcontecimiento" required>

        <button type="submit">Crear Hecho</button>

    </form>
</div>
</body>
</html>