{{#partial "nav-content"}}
    <a href="/colecciones" class="nav-link">Colecciones</a>
    <a href="#nuestroMapa" class="nav-link">Nuestro Mapa</a>
    <a href="#acerca" class="nav-link">Acerca de</a>
{{/partial}}

{{> templates/navbar}}