<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaMapa - Sistema de mapeo colaborativo</title>
    <link rel="stylesheet" href="styles/landing.css">
    <link rel="stylesheet" href="styles/mainLayout.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"/>
</head>

<body>
{{>templates/nav}}

<main class="main">
    <section id="mapa" class="section-mapa active">
        <aside class="mapa-container">
            <aside class="sidebar">
                {{>templates/filtros}}
                {{>templates/hechos}}
            </aside>
            <div class="mapa-view">
                <div id="map" class="map"></div>
            </div>
            </div>
    </section>
</main>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="js/map.js"></script>
<script src="js/login.js"></script>
</body>
</html>