<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaMapa - Sistema de mapeo colaborativo</title>

    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"/>
    {{#block "css"}}{{/block}}
</head>
<body>

{{#block "header"}}
{{/block}}

{{> templates/login }}

{{#block "contenido"}}
{{/block}}

{{#block "mapa-home"}}
{{/block}}

{{#block "acerca"}}
{{/block}}

{{#block "footer"}}
{{/block}}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/js/login.js"></script>

{{#block "scripts"}}
{{/block}}
</body>
</html>