<section id="mapa">
    <div id="nuestroMapa">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Nuestro mapa</h2>
            </div>
            <div id="map"></div>
        </div>
    </div>
</section>

{{templates/main}};