{{#partial "nav-content"}}
    <a href="/hechos" class="nav-link" title="Ir al mapa">Mapa</a>
    <a href="/colecciones" class="nav-link" title="Ver colecciones">Colecciones</a>
    <a href="#contribuir" class="nav-link" title="Cómo contribuir">Contribuir</a>
{{/partial}}

{{> templates/navbar}}