<!-- NAVBAR -->
<nav class="nav container">
    <!-- LOGO -->
    <img src="/assets/logo.png" alt="Logo" class="nav__logo">

    <!-- MENU TOGGLE -->
    <input type="checkbox" id="nav-toggle-checkbox" hidden>
    <label for="nav-toggle-checkbox" class="nav__toggle-label">
        <i class="ri-menu-line"></i>
    </label>

    <!-- NAV MENU -->
    <div class="nav__menu">
        <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Featured</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact Me</a></li>
        </ul>

        <!-- CLOSE BUTTON -->
        <label for="nav-toggle-checkbox" class="nav__close-label">
            <i class="ri-close-line"></i>
        </label>
    </div>

    <!-- ACTIONS -->
    <div class="nav__actions">
        <!-- SEARCH -->
        <input type="checkbox" id="search-checkbox" hidden>
        <label for="search-checkbox" class="nav__search">
            <i class="ri-search-line"></i>
        </label>

        <!-- LOGIN LINK -->
        <a href="/login" class="nav__login-link">
            <i class="ri-user-line nav__login"></i>
        </a>
    </div>
</nav>

<!-- SEARCH POPUP -->
<div class="search">
    <form class="search__form">
        <i class="ri-search-line search__icon"></i>
        <input type="search" placeholder="What are you looking for?" class="search__input">
    </form>
    <label for="search-checkbox" class="search__close-label">
        <i class="ri-close-line"></i>
    </label>
</div>
