<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
<div class="registro-container">
    <h2>Registro</h2>
    <form action="/register" method="post">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre de usuario" required>
        <input type="text" id="apellido" name="apellido" placeholder="Apellido de usuario" required>
        <input type="text" id="telefono" name="telefono" placeholder="Telefono de usuario" required>
        <input type="text" id="email" name="email" placeholder="Correo electrónico" required>
        <input type="number" id="edad" name="edad" placeholder="edad" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>

        <button type="submit">Registrarse</button>
    </form>

    <a class="login-link" href="/login">¿Ya tienes cuenta? Inicia sesión</a>
</div>
</body>
</html>
